extends layout
block content
	.jumbotron
		h1= title
		:markdown
			This demo is using several tools in order to simplify its development:

			- **Node.js** is used as a web server with server-side Javascript engine
			- **Express** is used as a web application framework
			- **Jade** is used as a template engine
			- **JQuery** is used as a client-side library for HTML document traversal and manipulation, event handling, animation and Ajax
			- **CoffeeScript** is used as a simple language that compiles into Javascript
			- Twitter **Bootstrap** is used as a front-end framework
